{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section profile-content">
        <a class="d-flex justify-content-end p-0 m-0 hyperlinks" href="{% url 'blog-home' %}">X</a>
        <div class="row">
            <div class="col-4">
                <div class="media">
                    <img class="image_resize account-img" src="{{ user.profile.image.url }}">   
                </div>
            </div>
            <div class="col-8">
                <div class="media-body">
                    <h2 class="account-heading header-elements h2">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 mt-5 text-center header-elements h3">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-dark d-grid gap-2 col-6 mx-auto my-3" type="submit">Update</button>
            </div>
        </form>
    </div>

{% endblock content%}