body{
    background: linear-gradient(#c7e7f3, #f5e3e3, #d2d2ff);
    height: 100vh;
}

.nav-link{
    color: #000;
}

.nav-link:hover{
    color: #555555;
}


/*--------------------------------------------------------------- Login Page */

.login-content{
    margin: 15em auto;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    background-color: #fdfdfd;
}

.sign-up-text{
    text-align: center;
}