{% extends "blog/base.html" %}

{% block content %}
<!-- Container to display about page-->
<div class="about-page">
    <h1 class="my-5 text-center header-elements">Blog Happened !</h1>
    <p class="text-center">
        'Blog Happened' is a only the beginning! We're thrilled to have you here as part of this community.
        This is a journey where it began with a simple idea, to create a space where people could come together
        and exchange ideas, share experiences, and learn from one another. <br><br>

        For sure, our blog would keep evolving in future, by providing features that would evolve into a dynamic
        platform
        that would serve as a hub for innovation and community engagement. <br><br>

        At 'Blog Happened', we believe that the words to inform, inspire and transforming lives plays a very crucial
        role.
        You are allowed to discuss the latest trends in technology, exploring the nuances of art and culture or just
        offering some
        tips for personal development - This Is Your Space. <br><br>

        <span class="mt-5 h3 header-elements">
            Features
        </span>

        <p class="text-center"><span class="h6">Create Posts: </span>You can creat posts about anything around the
            world.</p>
        <p class="text-center"><span class="h6">Enagage with Content: </span>Read, you can view other's posts.</p>
        <p class="text-center"><span class="h6">Bookmark: </span>You like a post and would like to bookmark it for later
            reference. You can.</p>
        <p class="text-center"><span class="h6">Update your profile: </span>Personalize your profile by adding a photo
        </p>
    </p>
</div>

{% endblock content%}